.m-portlet.m-portlet--anos {
    border-left: 11px solid #1DA84B;
    box-shadow: 0px 3px 10px 1px rgba(0, 48, 84, 0.1);
    -moz-box-shadow: 0px 3px 10px 1px rgba(0, 48, 84, 0.1);
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 48, 84, 0.1); }
.m-portlet.m-portlet--anos:hover {
    box-shadow: 0px 3px 10px 1px rgba(0, 48, 84, 0.2);
    -moz-box-shadow: 0px 3px 10px 1px rgba(0, 48, 84, 0.2);
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 48, 84, 0.2); }
.m-portlet.m-portlet--anos .m-portlet__head {
    height: 3.5rem;
    border-bottom: none; }
.m-portlet .m-portlet__head .m-portlet__head-text {
    color: #031D30; }
.m-portlet.m-portlet--anos .m-portlet__body {
    padding: 1rem 1rem; }

.cat-breadcrumbs.m-nav.m-nav--inline > .m-nav__item {
    padding: 0 0 0 5px;
    font-size: 1.57rem;
    color: #031D30; }
.cat-breadcrumbs.m-nav.m-nav--inline > .m-nav__separator {
    color: #fff; }
.cat-breadcrumbs.m-nav.m-nav--inline > .m-nav__separator > .fa {
    font-size: 1.71rem;
    padding-top: 5px; }
.cat-breadcrumbs.m-nav.m-nav--inline > .m-nav__item:first-child {
    font-size: 2.14rem;
    padding-left: 0; }
.cat-breadcrumbs.m-nav.m-nav--inline > .m-nav__item:first-child > .m-nav__link {
    color: #1DA84B;
    padding-top: 0; }
.cat-breadcrumbs.m-nav.m-nav--inline > .m-nav__item > .m-nav__link {
    color: #1DA84B;
    padding: 7px 0 0 0; }

.cat-breadcrumbs-detalhes.m-nav.m-nav--inline > .m-nav__item {
    padding: 0 0 0 5px;
    font-size: 1.14rem;
    color: #031D30; }
.cat-breadcrumbs-detalhes.m-nav.m-nav--inline > .m-nav__separator > .fa {
    font-size: 1.14rem;
    padding-top: 4px; }

.btn-am-busca {
    color: #fff;
    background-color: #002f53;
    border-radius: 25px; }
.btb-am-busca.active {
    color: #003054; }
.btn-am-busca:hover, .btn.btn-am-busca:hover:not(:disabled) {
    color: #003054;
    background-color: #002f53;
    border-color: #EAEAEA; }
.btn-am-busca:focus, .btn-am-busca.focus {
    box-shadow: none; }
.btn-am-busca.disabled, .btn-am-busca:disabled {
    color: #fff; }
.btn-am-busca:not(:disabled):not(.disabled):active, .btn-am-busca:not(:disabled):not(.disabled).active,
.show > .btn-am-busca.dropdown-toggle {
    color: #fff; }
.btn-am-busca:not(:disabled):not(.disabled):active:focus, .btn-am-busca:not(:disabled):not(.disabled).active:focus,
.show > .btn-am-busca.dropdown-toggle:focus {
    box-shadow: none }
.btn-am-busca.btn-am-navegacao {
    font-size: 1.28rem;
    padding: 0.4rem 1rem; }

.btn-bg-am {
    background-color: #1DA84B;
    border: none; }
.btn-bg-am:hover {
    color: #003054;
    background-color: #1DA84B !important; }

.btn-am-border {
    color: #003054;
    background-color: transparent;
    border-color: transparent;
    border: 2px solid #003054;
    border-radius: 5px; }
.btn-am-border:hover {
    color: #003054; }
.btn-am-border:focus, .btn-am-border.focus {
    box-shadow: none; }
.btn-am-border.disabled, .btn-am-border:disabled {
    color: #fff; }
.btn-am-border:not(:disabled):not(.disabled):active, .btn-am-border:not(:disabled):not(.disabled).active,
.show > .btn-am-border.dropdown-toggle {
    color: #fff; }
.btn-am-border:not(:disabled):not(.disabled):active:focus, .btn-am-border:not(:disabled):not(.disabled).active:focus,
.show > .btn-am-border.dropdown-toggle:focus {
    box-shadow: none }

.btn.btn-am-border {
    color: #003054; }
.btn.btn-am-border.active, .btn.btn-am-border.focus, .btn.btn-am-border:focus, .btn.btn-am-border:hover:not(:disabled) {
    color: #003054 !important; }
.btn.btn-am-border.btn-am-navegacao {
    font-size: 1.28rem;
    padding: 0.4rem 1rem; }

.no-decoration, no-decoration:hover {
    text-decoration: none !important; }

.btn-am-anos {
    color: #031D30;
    background-color: transparent;
    border-color: transparent; }
.btn-am-anos:hover {
    color: #031D30;
    background-color: #1DA84B;
    border-color: #1DA84B; }
.btn-am-anos:focus, .btn-am-anos.focus {
    box-shadow: none; }
.btn-am-anos.disabled, .btn-am-anos:disabled {
    color: #fff;
    font-weight: 400 !important;
    background-color: transparent;
    border-color: transparent; }
.btn-am-anos:not(:disabled):not(.disabled):active, .btn-am-anos:not(:disabled):not(.disabled).active,
.show > .btn-am-anos.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent; }
.btn-am-anos:not(:disabled):not(.disabled):active:focus, .btn-am-anos:not(:disabled):not(.disabled).active:focus,
.show > .btn-am-anos.dropdown-toggle:focus {
    box-shadow: none }

.btn.btn-am-anos {
    color: #1da84b;
    font-weight: 600; }
.btn.btn-am-anos.active, .btn.btn-am-anos.focus, .btn.btn-am-anos:focus, .btn.btn-am-anos:hover:not(:disabled) {
    color: #031D30 !important; }

ul#mainMenu {
    margin-top: 25px; }
.m-header {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }

.m-footer {
    z-index: 101; }
.m-footer i {
    margin-right: 7px; }
.m-footer a {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: 400 !important; }
.m-content-ionews {
    padding: 1rem 4rem !important;
    color: #fff;
    margin-top: 20px; }
.home-title {
    font-family: effra;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0;
    text-align: center;
    margin: 0; }
.color-black {
    color: #000; }

.m-stack__item.m-stack__flash {
    background-color: #2c2c2c;
    color: #fff;
    font-size: 1.1em; }
.m-stack__flash--close {
    color: #fff; }
.m-stack__flash--close:hover {
    color: #ccc; }

.m-stack__item.m-stack__mobile-flash {
    border-color: #0a421d;
    border: 2px 0 0 0 solid;
    font-size: 1.1em; }

.m-stack__front {
    font-size: 1.37rem; }
.m-stack__front--border > p {
    border: 2px solid #003054;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1em; }
.m-stack__front--stripe > p {
    border-left: 3px solid #003054;
    padding: 10px; }

@media (min-width: 768px) {
    .logo-legisla {
        margin-left: 63px;
        margin-right: 34px;
    }
    .m-content-ionews {
        padding-top: 20px !important;
        padding-left: 29vw !important;
    }
    .m-brand img {
        height: 70px;
        margin-right: 158px;
        /*height: 9.115vh;*/
        /*margin-right: 11.567vw;*/ }

    .m-header {
        height: 119px;
        /*height: 15.495vh;*/ }
    .m-header.m-header__warning {
        height: 120px !important; }

    .m-wrapper {
        /* padding: 0 126px !important; */
        padding: 0 9.225vw !important; }

    .search-content {
        max-width: 62%;
        /*max-width: 50.733vw;*/
        flex: 0 0 62%;
        /*flex: 0 0 50.733vw;*/
        padding: 0;
        margin-top: 30px;
        margin-left: -19px;
        /*margin-left: -1.392vw;*/ }
    .search-input {
        width: 100%;
        height: 44px;
        /*height: 5.73vh;*/
        border-radius: 6px;
        /*border-radius: 0.44vw;*/
        font-family: effra;
        font-size: 1.3rem;
        border: 1px solid #003054;
        padding: 13px 10px 10px 16px;
        /*padding: 1.1vw 0.8vw 0.8vw 1.318vw;*/ }

    .btn-pesquisar {
        background: #1DA84B;
        height: 40px;
        width: 101px;
        border-radius: 6px;
        font-family: effra;
        font-size: 1.14rem;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0;
        text-align: left;
        color: #031D30 !important;
        border: unset;
        padding: 14px 17px;
        margin-top: 32px;
        margin-left: 0.75rem;
        /*margin-left: 0.659vw;*/ }

    .btn-menu {
        flex: 0 0 48%;
        max-width: 48%;
        height: 159px;
        background: #031D30;
        box-shadow: 0 3px 10px 1px rgba(0, 48, 84, 0.1);
        font-size: 2.42rem;
        color: #fff;
        border-left: 12px solid #1DA84B;
        padding: 58px 0 0 55px;
        /*padding: 7.5vh 0 0 4vw;*/
        margin-bottom: 2.4rem !important; }

    .btn-ver-mais {
        height: 35px;
        max-width: 93px;
        font-size: 1.15rem;
        line-height: 1rem;
        color: #003054;
        border: 2px solid #003054;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 10px 0 4px 14px;
        margin-left: -22px; }

    .publica-title {
        font-size: 2.43rem; }
    .publica-type {
        font-family: effra;
        font-size: 1.07rem;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em; }
    .publica-name {
        color: #000;
        font-size: 1.28rem;
        font-weight: 400;
        line-height: 21px;
        margin-top: 6px !important; }
    .publica-line {
        border-top: 1px solid rgba(0, 48, 84, 0.4);
        margin: 0.5rem 1rem 0.75rem; }

    .m-brand__logo-wrapper {}

    .footer-wrapper {}
    .m-footer__text {
        text-align: left; }
    .footer-menu {
        color: #000;
        font-size: 1.14rem;
        font-weight: 700;
        line-height: 36.8px;
        white-space: nowrap; }
    .footer-menu a {
        color: #000;
        font-weight: 400; }
    .footer-menu img {
        height: 144px; }

    .sub-footer-text { } }

@media (min-height: 768px) { }

@media (max-width: 992px) {
    .m-brand img {
        max-height: 35px;
        margin-right: 48px; }

    .btn-menu {
        min-width: 330px;
        height: 76px;
        background: #031D30;
        box-shadow: 0 3px 10px 1px rgba(0, 48, 84, 0.1);
        font-size: 1.57rem;
        color: #fff;
        border-left: 7px solid #1DA84B;
        padding: 23px 0 0 40px;
        margin-bottom: 0.7rem !important; }

    .btn-pesquisar {
        background: #1DA84B;
        height: 34px;
        width: 73px;
        border-radius: 6px;
        font-family: effra;
        font-size: 0.85rem;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0;
        text-align: left;
        color: #031D30 !important;
        border: unset;
        padding: 12px 12px; }

    .btn-ver-mais {
        height: 30px;
        width: 65px;
        font-size: 0.85rem;
        line-height: 14px;
        color: #003054;
        border: 2px solid #003054;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 8px 0 8px 5px;
        margin-top: -5px; }

    .publica-title {
        font-size: 1.57rem;
        line-height: 22px;
        letter-spacing: 0;
        text-align: left;
        color: #031D30;
        padding-left: 23px; }

    .publica-type {
        font-family: Effra;
        font-size: 0.92rem;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0;
        text-align: left;
        color: #16476B; }

    .publica-name {
        font-family: Effra;
        font-size: 1.14rem;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0;
        text-align: left;
        color: #000; }

    .publica-date {
        font-size: 0.85rem;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0;
        text-align: left;
        color: #16476B; }

    .publica-date,
    .publica-date-agrupadas {
        font-size: 0.85rem;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0;
        text-align: left;
        color: #16476B; }

    .publica-date-agrupadas {
        font-size: 0.92rem; }

    .publica-line {
        border-top: 1px solid rgba(0, 48, 84, 0.4);
        margin: 6px 15px 6px 15px; }

    .publica-content {
        padding: 0 8px; }

    .bread-type {
        font-family: Effra;
        font-size: 1.85rem;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0;
        text-align: left;
        color: #031D30;
        margin-bottom: 0.6rem;
        margin-left: -4px; }

    .bread-subtype {
        font-size: 1.28rem;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0;
        text-align: left;
        color: #031D30;
        margin-bottom: 1.5rem; }

    .btn-back {
        height: 39px;
        width: 170px;
        padding-top: 10px;
        padding-left: 46px;
        border: 2px solid #003054;
        border-radius: 6px; }

    .btn-prev,
    .btn-next {
        height: 33px;
        width: 158px;
        border: 2px solid #003054;
        border-radius: 6px;
        padding-top: 7px; }
    .btn-prev {
        padding-left: 63px; }
    .btn-next {
        padding-left: 40px; }

    .view-simple {
        height: 39px;
        width: 326px;
        border-radius: 6px;
        color: #FFFFFF;
        background: #003054;
        padding-left: 50px;
        padding-top: 12px;
        text-align: center; }

    .btn-full,
    .btn-sign {
        align-items: center;
        text-align: left;
        height: 45px;
        color: #FFFFFF;
        line-height: 14px;
        background: #003054;
        border-radius: 6px;
        max-width: 49%;
        display: inline-grid;
        padding-top: 2px; }
    .btn-full {
        padding-left: 60px; }
    .btn-sign {
        padding-left: 46px; }

    .bread-detail {
        font-size: 1rem;
        margin-top: 25px;
        margin-bottom: 15px;
        line-height: 100%;
        color: #031D30; }

    .text-content {
        font-size: 1.14rem;
        line-height: 19px;
        letter-spacing: 0;
        text-align: left;
        color: #031D30;
        margin-bottom: 35px; }

    .text-content p:first-child {
        font-size: 1.85rem;
        line-height: 31px;
        font-weight: 700;
        margin-bottom: 0.3rem; } }

.m-brand,
.m-brand a {
    display: inline-block; }

.m-brand img {
    max-height: 54px;
    margin-left: 92px; }

.background-materias {
    background-color: #fff; }

.highlight {
    background: #EFAC2F; }

.materia {
    border: none;
    /* margin-top: 90px; */
    /* color: #717175; */
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
    font-size: 1.14rem; }
.materia a {
    text-decoration: none; }
.materia sup {
    font-size: 0.85rem; }

.referencias {
    margin-top: 30px; }
.referencias h5 {
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 10px; }
.referencias ol {
    margin-top: 15px; }
.referencias li {
    padding-left: 10px;
    padding-bottom: 10px; }
.referencias li span {
    padding-right: 20px; }
.referencias li span a {
    color: #212529 !important; }
.referencias li a:hover {
    border-bottom: 2px solid #5867dd;
    text-decoration: none; }

.link_referencia_ativo:target {
    background-color: rgba(3, 110, 171, 0.15);
    border-radius: 3px;
    padding: 5px 10px 5px 10px; }

.materia table {
    border: solid 1px #333;
    border-collapse: collapse;
    border-spacing: 0;
}
.materia table thead th {
    border: solid 1px #333;
}
.materia table tbody td {
    border: solid 1px #333;
    border-left: none;
    border-right: none;
}
.m-loader.m-loader--brand:before {
    border-top-color: #009ee3;
}
.m-menu__item_main_categoria {
    border-top: 1px solid #00233d;
}
.m-menu__item_main_categoria:last-of-type {
    border-bottom: 1px solid #00233d;
}
.m-menu__subnav > .m-menu__item_main_categoria:last-of-type {
    border-bottom: none;
}
.m-menu__ver-arrow {
    font-size: 1.78rem !important;
    color: #1DA84B !important;
}
.m-menu__ver-arrow_main_categoria {
    font-size: 2.14rem !important;
    color: #1DA84B !important;
}
.m-menu__link-text_main_categoria {
    font-family: Barlow-Bold;
    font-size: 1.14rem !important;
    letter-spacing: 2px;
}
.m-aside-left-toggler {
    margin-top: 3px;
    margin-right: 15px;
    float: left;
}
.m-aside-left-overlay {
    background: rgba(0, 0, 0, 0.2);
    z-index: 99;
}
.m-aside-left {
    top: 70px;
    left: -27vw;
    width: 26vw !important;
    z-index: 100; }
.m-aside-left.m-aside__flash {
    top: 120px; }
.m-aside-left.m-aside-left--on {
    left: 0px; }
.m-aside-left.m-aside-left--skin-dark {
    background-color: #002f53; }

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-text {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: #1DA84B;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text {
    color: #fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-text {
    color: #fff;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link .m-menu__link-text {
    color: #fff;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link.m-menu__link-ano .m-menu__link-text {
    padding-left: 12px;
    position: relative;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item {
    border-top: 1px solid #00233d;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link {
    padding-left: 12px;
    border-left: 7px solid transparent;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link {
    background-color: #00233d;
    border-left: 7px solid #1DA84B;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open {
    background-color: transparent;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
    background-color: #174264;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open > .m-menu__link {
    background-color: #174264;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > .m-menu__link {
    background-color: #174264;
    transition: all .2s;
}

.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__submenu .m-menu__subnav > .m-menu__item > .m-menu__link-ano:active {
    background: #aaa;
}

.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__submenu .m-menu__subnav > .m-menu__item > .m-menu__link-ano,
.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__submenu .m-menu__subnav > .m-menu__item > .m-menu__submenu .m-menu__subnav > .m-menu__item > .m-menu__link-ano {
    padding-top: 0px !important;
}

.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__submenu .m-menu__subnav > .m-menu__item > .m-menu__submenu .m-menu__subnav > .m-menu__item > .m-menu__submenu .m-menu__subnav > .m-menu__item > .m-menu__submenu .m-menu__subnav > .m-menu__item > .m-menu__link {
    padding-left: 90px;
}

.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text.m-menu__link-ano-active,
.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text.m-menu__link-ano-active {
    position: relative;
    font-weight: 800;
}

.m-menu__link-text {
    height: 40px;
    font-size: 1.1rem;
}

.m-container.m-container--full-height {
    height: 100%;
}

.m-container.m-container--full-height.preview-legislacao {
    top: 119px;
    position: sticky;
    z-index: 99;
    background-color: #fff;
    height: min-content;
    padding-top: 20px
}
.number-data-dio {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.m-stack__item-preview h6 {
    text-align: center;
    padding-top: 10px;
}
.m-stack__item-preview h4 {
    font-family: Barlow-Medium;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    font-weight: 400;
    padding-right: 33px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    font-size: 2rem;
    color: #1DA84B;
    margin-right: 14px;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-color: #fff;
}
.select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #fff;
    display: grid;
}
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #fff;
}
.m-header--fixed .m-header--subheader.m-body {
    padding-top: 150px !important;
}
.m-content-ionews {
    padding-left: 0;
}
.m-content-ionews-detalhes {
    /* padding-left: 360px; */
}
.menu-meses ul {
    width: 100%;
    display: inline-table;
    padding-left: 0px;
}
.menu-meses ul li {
    display: table-cell;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.select-mes {
    color: #1DA84B;
}
.select-mes:hover {
    color: #1DA84B;
    text-decoration: none;
}
.mes-active {
    background-color: #1DA84B;
    transition: all .2s;
}
.mes-active a {
    color: #fff;
}
.mes-active a:hover {
    color: #fff;
}
.mes-disable a {
    color: #fff;
    cursor: normal;
}
.mes-disable a:hover {
    color: #fff;
}
.quant-resultados {
    padding-left: 8px;
    margin-left: 1.5rem;
    border-left: 4px solid #1DA84B;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}
.resultados ul {
    padding: 0px;
    margin-bottom: 0px;
}
.resultados ul li {
    list-style: none;
    /*color: #16476B;*/
    border-bottom: 1px solid #1DA84B;
    padding-top: 5px;
    padding-bottom: 5px;
}
.resultados ul li:last-child {
    border-bottom: none;
}
.resultados h5 {
    color: #fff;
}
.resultados p {
    color: #fff;
    margin-bottom: 5px;
}
.item-cor {
    background-color: #d7d8dc;
}
.detalhes-btn {
    margin-top: 20px;
    text-align: center;
}
.detalhes-btn .btn,
.resultados .btn {
    background-color: #fff;
    transition: all 0.2s;
    margin-top: 15px;
}
.detalhes-btn .btn:hover,
.resultados .btn:hover {
    transition: all 0.2s;
}
.item-li {
    transition: all 0.2s;
}
.item-li:hover {
    /*background-color: #fff;*/
    /*transition: all 0.2s;*/
}
.m-datatable-ionews {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li.m-datatable__pager-link--active>a,
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li > .m-datatable__pager-link.m-datatable__pager-link--active {
    background: #009ee3;
}
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li > .m-datatable__pager-link:hover,
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li>a:hover {
    background: #009ee3;
}
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li > .m-datatable__pager-link.m-datatable__pager-link--next:hover,
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li.m-datatable__pager-link--next>a:hover {
    background: #009ee3;
}
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li > .m-datatable__pager-link.m-datatable__pager-link--last:hover,
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li.m-datatable__pager-link--last>a:hover {
    background: #009ee3;
}
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li > .m-datatable__pager-link.m-datatable__pager-link--prev:hover,
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li.m-datatable__pager-link--prev>a:hover {
    background: #009ee3;
}
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li > .m-datatable__pager-link.m-datatable__pager-link--first:hover,
.m-datatable-ionews > .m-datatable__pager > .m-datatable__pager-nav>li.m-datatable__pager-link--first>a:hover {
    background: #009ee3;
}
.preview-legislacao h3 {
    text-align: center;
}
.preview-legislacao h3,
h6 {
    font-family: Barlow-Medium;
    color: #fff;
    margin-bottom: 0px;
}
.m-stack.m-stack--desktop.m-stack--ver > .m-stack__item-preview.m-stack__item--center {
    padding-top: 7px !important;
    text-align: center;
}
.m-stack__item.m-stack__item--middle>form.diarios-select2 > .form-group {
    margin-bottom: 0px;
}
.form-group {
    margin: 0;
}
.prev-arrow,
.next-arrow {
    transition: all .2s;
    padding-top: 16px;
    padding-bottom: 16px;
}
.next-arrow {
    float: right;
}
.prev-arrow i,
.next-arrow i {
    font-size: 2.42rem;
}
.prev-arrow:hover,
.next-arrow:hover {
    background-color: #0b5f93;
    transition: all .2s;
    text-decoration: none;
}
.prev-arrow span {
    float: left;
}
.next-arrow span {
    float: right;
}
.preview-legislacao a:hover {
    text-decoration: none;
}
.m-content iframe {
    overflow: auto;
    width: 100%;
    border: none;
    height: -webkit-fill-available;
    margin-top: 100px;
}
.m-footer__wrapper {
    background-color: #eee;
}
.m-footer__wrapper .m-stack.m-stack--desktop.m-stack--ver > .m-stack__item.m-stack__item--center {
    text-align: center;
}
.m-footer-ionews.m-footer .m-footer__copyright {
    color: #003054;
}
.header_page_assinada {
    position: fixed;
    color: #2B0E7A;
    left: 0;
    right: 0;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #c3c3c3;
}
.nome_imprensa h5 {
    line-height: 25px;
}
.logo_imprensa span {
    color: #2B0E7A;
    font-family: Georgia;
    font-size: 3.57rem;
    font-weight: bold;
    vertical-align: middle;
}
.logo_governo img {
    width: 180px;
    float: right;
    vertical-align: middle;
}
.materia_assinada {
    margin-top: 180px;
}
.footer_page_assinada {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid #c3c3c3;
}
.code_autenticidade span {
    border: 1px solid #2B0E7A;
    color: #2B0E7A;
    padding: 2px 10px 2px 10px;
    border-radius: 4px;
}
.consulta_autenticidade {
    position: fixed;
    right: 20px;
    top: 40%;
    background-color: #1DA84B;
    color: #fff;
    z-index: 999;
    border-radius: 30px;
    padding: 10px;
    font-weight: 500;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 10px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 10px 0px;
    -ms-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 10px 0px;
    -o-box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 10px 0px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.consulta_autenticidade i {
    font-size: 3.57rem;
    opacity: 0.8;
}
.consulta_autenticidade span {
    font-size: 1.14rem;
}
.consulta_autenticidade button {
    position: absolute;
    right: -13px;
    top: -18px;
    color: #000 !important;
}
.consulta_autenticidade:hover {
    background-color: #1a9c46;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.consulta_autenticidade.icone-olny {
    z-index: 998;
    border-radius: 50px;
    margin-right: -83px;
}
.consulta_autenticidade.icone-olny i {
    font-size: 2.14rem;
}
.icone-show {
    margin-right: 0px !important;
}
.btn-consulta {
    background-color: #1DA84B;
    border-color: #fff;
    font-size: 1.07rem;
    letter-spacing: 2px;
}
.btn-consulta:hover {
    background-color: #1a9c46;
    border-color: #1a9c46;
}
.btn-consulta:active {
    background-color: #036eab !important;
    border-color: #036eab !important;
}
.code-consulta p {
    line-height: 27px;
}
.code-consulta span {
    color: #036eab;
}
/*===============controles de leis===================*/

.m-container.m-container--full-height.controller-leis {
    top: 214px;
    background-color: #fff;
    position: sticky;
    z-index: 97;
    height: min-content;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* padding-left: 80px; */
    /* padding-right: 80px; */
}
.btn-versoes {
    font-size: 1.07rem;
    background-color: #003054;
    margin-bottom: 15px;
    color: #fff;
}
.btn-versoes i {
    font-size: 1.42rem !important;
}
.btn-versoes-ativa {
    background-color: #003054;
    transition: all .2s;
}
.btn-versoes:hover {
    background-color: #003054;
    color: #fff;
}
.btn-versoes span {
    font-size: 1rem;
}
.btn-versoes-anos {
    transition: all .2s ease;
}
a.btn-versoes-anos {
    text-decoration: none !important;
    position: absolute;
    z-index: 96;
    right: 20px;
}
.btn-versoes-anos i {
    font-size: 2.14rem;
}
.menu-versoes {
    display: none;
    background-color: #fff;
    width: 420px;
    float: right;
    transition: all .5s ease;
    margin-right: -700px;
    margin-left: 20px;
    margin-top: 200px;
}
.menu-versoes-on {
    transition: all .5s ease;
    margin-top: 200px;
    margin-right: 0px !important;
}
.nome-lei-menu {
    width: 150px;
}
.nome-lei-menu a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.anos-versoes {
    position: absolute;
    right: 25px;
    top: 70px;
}
.anos-versoes .btn {
    padding: 2px 15px 2px 15px !important;
}
.anos-versoes ul {
    list-style: none !important;
    display: block;
}
.anos-versoes > .nav.nav-pills .nav-item:first-child {
    margin-left: 5px;
}
.anos-versoes > .nav.nav-pills .nav-link {
    border: 1px solid #1DA84B;
    padding: .1rem 1rem;
    border-radius: 1.25rem;
    margin-bottom: 0.75rem;
    color: #1DA84B;
}
.anos-versoes > .nav-pills .nav-link.active,
.anos-versoes > .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1DA84B;
}
.anos-versoes > .nav.nav-pills .nav-link:hover {
    transition: all .2s;
    color: #fff;
    background-color: #1DA84B;
}
.mCustomScrollbar-menu-versoes {
    /*width: 380px !important;*/
    padding: 10px 96px 20px 20px;
    max-height: 467px !important;
    height: 515px !important;
}
.norma-cancelada {
    text-decoration: line-through;
}
.norma-nova {
    color: #5867dd;
}
.btns-actions {
    margin-bottom: 50px;
}
.btns-actions i {
    font-size: 2.14rem !important;
}
.btns-actions span {
    font-size: 0.92rem;
}
.img-csv {
    background-image: url('../img/csv-hover.png');
    background-position: 8% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 9px;
}
.img-json {
    background-image: url('../img/json-hover.png');
    background-position: 8% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 9px;
}
.img-csv:hover {
    /*background-image: url('../img/csv-hover.png');*/
    background-position: 8% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 9px;
}
.img-json:hover {
    /*background-image: url('../img/json-hover.png');*/
    background-position: 8% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 9px;
}
.mCustomScrollbar-menu-versoes .m-timeline-2__item-time {
    font-size: 1.42rem !important;
    margin-top: -4px;
}
.mCustomScrollbar-menu-versoes .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
    padding-bottom: 3rem;
    font-size: 0.92rem;
    padding-left: 6rem;
}
.mes-menu-ano {
    position: absolute;
    font-size: 1.07rem;
    top: 4px;
    left: 33px;
    color: #7b7e8a;
}
.mCustomScrollbar-menu-versoes .m-timeline-2:before {
    left: 6.0rem;
}
.mCustomScrollbar-menu-versoes .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle {
    color: #7b7e8a;
    left: 5.2rem;
}
.mCustomScrollbar-menu-versoes .m-timeline-2__item a {
    color: #7b7e8a;
}
.mCustomScrollbar-menu-versoes .m-timeline-2 .m-timeline-2__items .m-timeline-2__item.active .m-timeline-2__item-time,
.mCustomScrollbar-menu-versoes .m-timeline-2 .m-timeline-2__items .m-timeline-2__item.active .mes-menu-ano,
.mCustomScrollbar-menu-versoes .m-timeline-2 .m-timeline-2__items .m-timeline-2__item.active .m-timeline-2__item-cricle>i,
.mCustomScrollbar-menu-versoes .m-timeline-2 .m-timeline-2__items .m-timeline-2__item.active a {
    color: #1DA84B;
}
/*======================= MEDIAS QUERIES =====================*/

@media (max-width: 768px) {
    .btn-versoes {
        width: 100% !important; }
    .btn.btn-metal.btn-versoes {
        width: 100% !important; }
    .controller-leis {
        /* height: 230px !important; */ }
    .materia {
        margin-top: -40px; }
}
@media (max-width: 993px) {
    .m-container.m-container--full-height.controller-leis {
        margin-top: 60px;
        top: 175px;
        padding-top: 20px; }

    .mCustomScrollbar-menu-versoes {
        padding: 10px 96px 20px 20px;
        max-height: 820px !important;
        height: 850px !important; }

    .menu-versoes {
        position: fixed;
        right: 0;
        bottom: 0;
        top: -74px;
        z-index: 98; }

    .menu-versoes-overlay-on {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        z-index: 97;
        background: rgba(0, 0, 0, 0.2);
        -webkit-animation: m-offcanvas-overlay-fade-in .3s linear 1;
        -moz-animation: m-offcanvas-overlay-fade-in .3s linear 1;
        -ms-animation: m-offcanvas-overlay-fade-in .3s linear 1;
        -o-animation: m-offcanvas-overlay-fade-in .3s linear 1;
        animation: m-offcanvas-overlay-fade-in .3s linear 1; }
}
@media (max-width: 1200px) {
    .materia {
        margin-right: 15px;
        margin-left: 15px; }
}
@media (min-width: 1199px) {
    .border-home {
        border-left: 1px solid;
        padding-left: 5rem; }
}
@media (max-width: 500px) {
    .menu-versoes {
        width: 100%; }
}
@media (min-width: 993px) {
    .footer-wrapper,
    .sub-footer-wrapper {
        padding: 0 9vw; }
    .m-aside-left-toggler span {
        background: #3c3c3b; }
    .m-aside-left-toggler span::before,
    .m-aside-left-toggler span::after {
        background: #3c3c3b; }
    .m-aside-left-toggler:hover span {
        background: #009ee3; }
    .m_aside_left_toggler:hover span::before,
    .m-aside-left-toggler:hover span::after {
        background: #009ee3; }

    .m-aside-left--enabled .m-header-menu {
        padding-left: 0px; }
    .m-header-menu {
        width: 100%; }
    .m-stack.m-stack--desktop.m-stack--ver > .m-stack__item.m-stack__item--center {
        /* item--center precisa ser centralizado, se quiser fazer left, utilize item--left */
        /* text-align: left; */
        padding-top: 22px; }
    .m-footer__logo {
        width: 280px }
    .sub-footer-wrapper > .m-stack {
        width: 570px; }
}

@media (min-width: 1400px) {
    .d-xxl-block {
        display: block !important;
    }
    .m-footer__logo {
        width: 480px }
}
@media screen and (max-width: 1200px) {
    .m-aside-left.m-aside-left--on {
        left: 0px; }
}
@media screen and (max-width: 768px) {
    .m-footer__wrapper.footer-wrapper {
        text-align: center;
    }
    .m-aside-left {
        top: 71px; }
    .m-aside-left.m-aside-left--on {
        width: 100% !important;
        left: 0px; }
    .m-aside-left.m-aside__flash {
        top: 0px; }

    .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-dark {
        background-color: #575756;
        top: 71px; }

    .m-aside-header-menu-mobile-overlay {
        top: 71px;
        background: rgba(0, 0, 0, 0.2); }

    .m-header--fixed-mobile .m-header {
        z-index: 1099; }

    .prev-arrow, .next-arrow {
        z-index: 100;
        width: 50px;
        top: 6px; }
    .next-arrow {
        float: right;
        position: relative;
        top: -130px;
        text-align: right; }
    .prev-arrow span {
        float: none; }
    .prev-arrow h6, .next-arrow h6 {
        display: none; }
    .prev-arrow:hover, .next-arrow:hover {
        background-color: transparent;
        transition: all .2s;
        text-decoration: none; }

    .preview-legislacao {
        top: 60px !important; }

    .select2-container {
        padding: 8px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        margin-right: 10px; }

    .m-stack.m-stack--desktop.m-stack--ver > .m-stack__item-preview.m-stack__item--center {
        top: -41px;
        position: relative;
        top: -55px; }

    .m-stack__item-preview h4 {
        display: inline-block;
        width: 86%; }

    ul#mainMenu {
        margin-top: 5em;
        padding: 1em 0 1em 0; }

    .menu-meses ul li {
        display: inherit; }
}
@media screen and (max-width: 530px) {
    .m-stack__item-preview h3 {
        font-size: 1.14rem;
        /*top: -85px;*/
    }
    .next-arrow {
        top: -124px;
    }
    .m-stack__item-preview h4 {
        font-size: 1.07rem;
        display: inline-block;
        width: 65%;
    }
}
@media screen and (max-width: 450px) {
    .m-stack__item-preview h3 {
        font-size: 1.07rem;
        /*top: -85px;*/
    }
    .next-arrow {
        top: -124px;
    }
}
