.header-links {
    display: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    background-color: #49D7D7;
    padding: 40px;
}

.header-form {
    display: none;
    gap: 10px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.mobile-menu-bar {
    height: 6px;
    background-color: #e0e0e0;
    transition: .2s;
}

.mobile-menu-bar:nth-child(2) {
    width: 35px;
}

.mmb {
    width: 50%;
}

.mobile-menu:hover .mmb {
    width: 100%;
}

.mobile-menu:hover .mobile-menu-bar {
    background-color: #1A4043;
}