.header-links {
    display: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sc-1);
    padding: 25px;
}

.header-form {
    display: none;
    gap: 10px;
}

.header-logo img {
    height: 50px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.mobile-menu-bar {
    height: 5px;
    background-color: #e0e0e0;
    transition: .3s;
}

.mobile-menu-bar:nth-child(2) {
    width: 30px;
}

.mmb {
    width: 50%;
}

.mobile-menu:hover .mmb {
    width: 100%;
}

.mobile-menu:hover .mobile-menu-bar {
    background-color: var(--pc-2);
}

.sidebar-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--pc-2);
    transform: translateX(-100%);
    transition: .3s;
}

.sidebar {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
}

.sidebar li {
    transition: .2s;
    color: var(--c-2);
}

.sidebar li:hover {
    background-color: var(--pc-1);
    color: var(--sc-1);
}

.sidebar a {
    display: block;
    padding: 20px;
    color: inherit;
}

.sidebar-container.sidebar-active {
    transform: initial;
}

body {
    height: 200vh;
}

@media screen and (max-width: 100%) {}