.main-content-container {
    background-color: var(--pc-2);
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px 40px;
}

.content-col-1>h2 {
    margin-top: 10px;
}

.content-col-1>p {
    margin-top: 10px;
}

.content-col-1>div {
    margin-top: 10px;
}

.marked-text {
    background-color: var(--sc-1);
}

.text-margin {
    margin-left: 20px;
}