:root {
   --c-1: #F0F0F0;
   --c-2: #E8E8E8;
   --c-3: #DCDCDC;
   --c-4: #CBCBCB;
   --c-5: #ACACAC;
   --c-6: #8B8A8A;
   --c-7: #6F6F6F;
   --c-8: #565656;
   --c-9: #444444;
   --c-10: #2E2E2E;
   --c-11: #222222;
   --c-12: #171717;
   --c-13: #121212;
   --pc-1: #254392;
   --pc-2: #051d57;
   --sc-1: #18B256;
   --sc-2: #109A47;
}

.c-1 {
   color: var(--c-1);
}

.c-3 {
   color: var(--c-3);
}

.pc-1 {
   color: var(--pc-1);
}

.pc-2 {
   color: var(--pc-2);
}

.sc-1 {
   color: var(--sc-1);
}

.sc-2 {
   color: var(--sc-2);
}