.main {
    background-color: var(--pc-2);
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    position: relative;
    gap: 10px;
}

.content-1>p {
    margin-top: 10px;
}

.content-1>div {
    margin-top: 10px;
}

.marked-text {
    background-color: var(--sc-1);
}

.text-margin {
    margin-left: 20px;
}

.law-type {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    margin-top: 20px;
}

.law-type img {
    height: 60px;
}

.law-type p {
    grid-column: 1 / -1;
}

.law-content {
    max-width: 260px;
}

.law-category {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 600px;
    gap: 10px;
    margin-top: 40px;
}

.law-category img {
    width: 32px;
    height: 32px;
    position: relative;
    top: 10px;
}

.main-info {
    margin-top: 40px;
}

/* Header Form */
@media screen and (min-width: 800px) {}

/* Desktop Version */
@media screen and (min-width: 1200px) {
    .main {
        padding: 40px;
    }

    .main-content {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .content-1, .content-2 {
        padding: 0 60px;
    }

    .content-2 {
        position: relative;
        padding: 0 80px;
        border-left: 1px solid #f7f7f7;
    }

    .law-content {
        max-width: 400px;
    }
}
