:root {
   --b-01: #355C87;
   --b-02: #000E1D;
   --b-03: #021A34;
   --c-01: #F9F9F9;
   --c-02: #F2F2F2;
   --c-03: #181818;
   --c-04: #070707;
   --g-01: #1DA84B;
}


.b-01 {
   color: var(--b-01);
}

.b-02 {
   color: var(--b-02);
}

.b-03 {
   color: var(--b-03);
}

.c-01 {
   color: var(--c-01);
}

.c-02 {
   color: var(--c-02);
}

.g-01 {
   color: var(--g-01);
}  