.footer {
   padding: 50px;
   background-color: var(--c-04);
   gap: 25px;
   box-sizing: border-box;
}

.footer-links a {
   display: block;
   margin-top: 10px;
}

.footer-links a:hover {
   text-decoration: underline;
}

.footer-item {
   margin-top: 20px;
}

.footer-contact-info {
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.contact-icon-container {
   display: flex;
   align-items: center;
   gap: 10px;
}

@media screen and (min-width: 1200px) {
   .footer {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      width: 100%;
   }

   .footer-links {
      display: flex;
      gap: 100px;
   }

   .footer-contact-info {
      margin-top: 0px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      gap: 10px;
   }
}