.header {
   background-color: var(--b-02);
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: .5s;
   position: fixed;
   width: 100%;
   box-sizing: border-box;
   z-index: 1;
}

.header-info {
   cursor: pointer;
   transition: .1s;
}

.header-info:active {
   transform: scale(1.1);
}

.header-form {
   display: none;
}

@media screen and (min-width: 1200px) {
   .header {
      padding: 25px 100px;
   }
}
