.info-modal-background-effect {
   display: none;
   position: absolute;
   width:100%;
   height: 100%;
   background-color: rgba(7, 7, 7,  0.6);
   z-index: 1; 
   animation-duration: 1s;
   animation-name: none;
}

.info-modal {
   display: none;
   position: fixed;
   top: 120px;
   background-color: var(--c-01);
   z-index: 2;
   border-radius: 50px 50px 10px 10px;
   max-width: 800px;
   left: 0;
   right: 0;
   margin: 0 20px;
   transition: 1s transform;
   animation-duration: 1s;
   animation-name: none;
   transform: translateY(-100%);
}

.info-modal-header {
   background-color: var(--b-02);
   padding: 20px;
   border-radius: 10px 10px 0px 0px;
}

.info-modal-content {
   padding: 20px;
}

.info-modal-content h2,
.info-modal-content p {
   margin-top: 20px;
}

@media screen and (min-width: 900px) {
   .info-modal {
      margin: 0 auto;
      margin-top: 50px;
   }

   .info-modal-header {
      padding: 40px;
   }

   .info-modal-content {
      padding: 40px;
   }
}