<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>LegislaAM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../static/css/style.css">
</head>

<body>

    <header class="header">
        <div class="header-links">
            <a href="#">Face</a>
            <a href="#">Insta</a>
            <a href="#">Youtube</a>
        </div>

        <div class="header-content">

            <div class="mobile-menu">
                <div class="mobile-menu-bar mmb"></div>
                <div class="mobile-menu-bar"></div>
                <div class="mobile-menu-bar mmb"></div>
            </div>

            <a href="#" class="header-logo">
                <img src="../../../static/img/legisla-logo.png" alt="Logo Legisla">
            </a>

            <form action="" class="header-form">
                <input type="text" name="" id="" placeholder="Digite aqui o assunto que deseja buscar   ">
                <button>PESQUISAR</button>
            </form>


        </div>
    </header>

    <section class="main-content-container">
        <div class="sidebar-container">
            <ul class="sidebar txf-1">
                <li><a href="">CONSTITUIÇÃO DO ESTADO DO AMAZONAS</a></li>
                <li><a href="">DECRETOS LEGISLATIVOS</a></li>
                <li><a href="">REGIMENTO INTERNO</a></li>
                <li><a href="">DECRETOS NUMERADOS</a></li>
                <li><a href="">EMENDAS CONSTITUCIONAIS</a></li>
                <li><a href="">LEIS COMPLEMENTARES</a></li>
                <li><a href="">LEIS DELEGADAS</a></li>
                <li><a href="">LEIS ORDINÁRIAS</a></li>
                <li><a href="">LEIS PROMULGADAS</a></li>
            </ul>
        </div>

        <main class="main-content">
            <div class="content-1">
                <h1 class="ttf-1 sc-2">É Novidade!</h1>
                <h2 class="ttf-2 c-1">Pesquisa, consulta e download</h2>
                <p class="txf-3 c-1">Conheça o seu novo ambiente de pesquisa e consulta às legislações do Estado do
                    Amazonas.
                </p>

                <div class="sc-2">
                    <p class="ttf-2">Automação</p>
                    <p class="ttf-2">Praticidade</p>
                    <p class="ttf-2">Solução</p>
                    <p class="ttf-2">Comodidade</p>
                    <p class="ttf-2">E muito mais!</p>
                </div>

                <h2 class="ttf-2 c-1">Tudo em um só lugar.</h2>
                <p class="txf-3"><span class="marked-text">Fácil, gratuito e disponível em</span>
                    <br><span class="marked-text text-margin">constante</span><br> <span
                        class="marked-text">atualização*</span>
                </p>

            </div>

            <div class="content-2">
                <h1 class="ttf-2 sc-2">Que tipo de lei deseja consultar?</h1>

                <div>
                    <div class="">
                        <img src="../../../static/img/icon-constituicao.png" alt="">
                        <h4 class="ttf-3 c-1">CONSTITUIÇÃO DO AMAZONAS</h4>
                    </div>

                    <p class="txf-3 c-1">Encontre a Lei Maior Estadual atualizada, contendo 289 artigos em seu corpo e
                        mais 64 artigos dos Atos das Disposições Constitucionais Transitórias.</p>
                </div>

                <div>
                    <div class="">
                        <img src="" alt="">
                        <h4 class="ttf-3 c-1">LEIS COMPLEMENTARES</h4>
                    </div>

                    <p class="txf-3 c-1">Consulte por atos que possuem processo legislativo de aprovação mais complexa, e também, o propósito de complementar matérias já reservadas pela Contituição Estadual.</p>
                </div>

                <div>
                    <div class="">
                        <img src="" alt="">
                        <h4 class="ttf-3 c-1">LEIS DELEGADAS</h4>
                    </div>

                    <p class="txf-3 c-1">Encontre a Lei Maior Estadual atualizada, contendo 289 artigos em seu corpo e mais 64 artigos dos Atos das Disposições Constitucionais Transitórias.</p>
                </div>

                <div>
                    <div class="">
                        <img src="" alt="">
                        <h4 class="ttf-3 c-1">LEIS ORDINÁRIAS</h4>
                    </div>

                    <p class="txf-3 c-1">Encontre a Lei Maior Estadual atualizada, contendo 289 artigos em seu corpo e
                        mais 64 artigos dos
                        Atos das Disposições Constitucionais Transitórias.</p>
                </div>
            </div>
        </main>
    </section>

    <!-- <footer>
        <div>
            <a href="#"><img src="#" alt=""></a>
            <div>
                <p>
                    Rua Doutor Machado, 86 - Centro<br>
                    CEP.: 69.020-015 Manaus/AM
                </p>
            </div>
        </div>
        <div>
            <div>
                <h5>INSTITUCIONAL</h5>
                <div><a href="#">Portal IOA</a></div>
                <div><a href="#">Consulta DOE</a></div>
                <div><a href="#">Notícias IOA</a></div>
            </div>
            <div>
                <h5>ATENDIMENTO</h5>
                <div><a href="#">SAC</a></div>
                <div><a href="#">Ouvidoria</a></div>
                <div><a href="#">Suporte</a></div>
                <div><a href="#">Protocolo Virtual</a></div>
            </div>
            <div>
                <h5>GERAL</h5>
                <div><a href="#">Imprensas oficiais</a></div>
                <div><a href="#">Links Úteis</a></div>
                <div><a href="#">Galeria</a></div>
                <div><a href="#">Vídeos</a></div>
            </div>
        </div>
        <div>
            <a href="#"><img src="#" alt="logo-governo"></a>
        </div>
    </footer> -->

    <script src="../../../static/js/mobile-menu.js"></script>
</body>

</html>