<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>LegislaAM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <header class="header">
        <div class="header-links">
            <a href="#">Face</a>
            <a href="#">Insta</a>
            <a href="#">Youtube</a>
        </div>

        <div class="header-content">

            <div class="mobile-menu">
                <div class="mobile-menu-bar mmb"></div>
                <div class="mobile-menu-bar"></div>
                <div class="mobile-menu-bar mmb"></div>
            </div>

            <a href="#" class="header-logo">
                <img src="./img/logo-branco.png" alt="Logo Legisla">
            </a>

            <form action="" class="header-form">
                <input type="text" name="" id="" placeholder="Digite aqui o assunto que deseja buscar   ">
                <button>PESQUISAR</button>
            </form>

        </div>
    </header>

    <div class="sidebar-container">
        <ul class="sidebar txf-1">
            <li><a href="">CONSTITUIÇÃO DO ESTADO DO AMAZONAS</a></li>
            <li><a href="">DECRETOS LEGISLATIVOS</a></li>
            <li><a href="">REGIMENTO INTERNO</a></li>
            <li><a href="">DECRETOS NUMERADOS</a></li>
            <li><a href="">EMENDAS CONSTITUCIONAIS</a></li>
            <li><a href="">LEIS COMPLEMENTARES</a></li>
            <li><a href="">LEIS DELEGADAS</a></li>
            <li><a href="">LEIS ORDINÁRIAS</a></li>
            <li><a href="">LEIS PROMULGADAS</a></li>
        </ul>
    </div>

    <section class="main-content-container">

        <main class="main-content">
            <div class="content-1">
                <h1 class="ttf-1 sc-2">É Novidade!</h1>
                <h2 class="ttf-2 c-1">Pesquisa, consulta e download</h2>
                <p class="txf-3 c-1">Conheça o seu novo ambiente de pesquisa e consulta às legislações do Estado do
                    Amazonas.
                </p>

                <div class="ttf-2 sc-2">
                    <p>Automação</p>
                    <p>Praticidade</p>
                    <p>Solução</p>
                    <p>Comodidade</p>
                    <p>E muito mais!</p>
                </div>

                <h3 class="ttf-2 c-1">Tudo em um só lugar.</h3>
                <p class="txf-3"><span class="marked-text">Fácil, gratuito e disponível em</span>
                    <br><span class="marked-text text-margin">constante</span><br> <span
                        class="marked-text">atualização*</span>
                </p>

            </div>

            <div class="content-2">
                <h1 class="ttf-2 sc-2">Que tipo de lei deseja consultar?</h1>

                <div class="law-type">
                    <img src="./img/icon-constituicao.png" alt="">

                    <div class="law-content">
                        <h4 class="ttf-3 c-1">CONSTITUIÇÃO DO AMAZONAS</h4>
                        <p class="txf-4 c-1">Encontre a Lei Maior Estadual atualizada, contendo 289 artigos em seu corpo
                            e mais 64 artigos dos Atos das Disposições Constitucionais Transitórias.</p>
                    </div>
                </div>

                <div class="law-type">
                    <img src="./img/icon-complementares.png" alt="">

                    <div class="law-content">
                        <h4 class="ttf-3 c-1">LEIS COMPLEMENTARES</h4>
                        <p class="txf-4 c-1">Consulte por atos que possuem processo legislativo de aprovação mais
                            complexa, e também, o propósito de complementar matérias já reservadas pela Contituição
                            Estadual.</p>
                    </div>
                </div>

                <div class="law-type">
                    <img src="./img/icon-delegadas.png" alt="">

                    <div class="law-content">
                        <h4 class="ttf-3 c-1">LEIS DELEGADAS</h4>
                        <p class="txf-4 c-1">Consulte os atos normativos emanados pelo Governo Estadual e que necessitam
                            de autorização da Assembleia Legislativa do Estado do Amazonas para sua elaboração.</p>
                    </div>
                </div>

                <div class="law-type">
                    <img src="./img/icon-ordinarias.png" alt="">

                    <div class="law-content">
                        <h4 class="ttf-3 c-1">LEIS ORDINÁRIAS</h4>
                        <p class="txf-4 c-1">Pesquise atos legislativos que tratam de assuntos diversos e não reservados
                            às leis complementares.</p>
                    </div>
                </div>

                <div class="law-category">
                    <img src="./img/icon-lesser.png" alt="">
                    <h2 class="ttf-4 c-1">Selecione ao lado a categoria de lei desejada.</h2>
                </div>

                <div class="info">
                    <p class="txf-5 c-3">(*) O conteúdo diponibilizado para pesquisa, consulta e download é atualizado
                        continuamente, sempre que novos atos oficiais com maior relevância jurídica forem publicados. Os
                        arquivos disponíveis em formato PDF não possuem validade legal para fins comprobatórios. Adquira
                        a versão autenticada com o Centro de Documentação e Memória: <strong>(92) 2101-7500/7517
                            |</strong>
                        <strong>cdm@imprensaoficial.am.gov.br.</strong>
                    </p>
                </div>

            </div>
        </main>
    </section>

    <footer class="footer">
        <img src="./img/logo-imprensa.png" alt="" class="press-logo">

        <div class="footer-item">
            <div class="txf-5">
                <p>Rua Doutor Machado, 86 - Centro</p>
                <p>CEP: 69.020-015 Manaus/AM</p>
            </div>

            <div class="txf-5">
                <a href="mailto:legisla.am@imprensaooficial.am.gov.br"
                    class="footer-item-contact">legisla.am@imprensaoficial.am.gov.br</a>
                <a href="tel:+559221017500" class="footer-item-contact">(92) 2101-7500</a>
            </div>
        </div>

        <div class="footer-item">
            <h1 class="ttf-5 pc-2">Institucional</h1>
            <a href="" class="txf-5">Portal IOA</a>
            <a href="" class="txf-5">Consulta ao DOE</a>
            <a href="" class="txf-5">Notícias IOA</a>
            <a href="" class="txf-5">Carta de Serviços</a>
        </div>

        <div class="footer-item">
            <h1 class="ttf-5 pc-2">Atendimento</h1>
            <a href="" class="txf-5">SAC</a>
            <a href="" class="txf-5">Ouvidoria</a>
            <a href="" class="txf-5">Suporte</a>
            <a href="" class="txf-5">Protocolo Virtual</a>
        </div>

        <div class="footer-item">
            <h1 class="ttf-5 pc-2">Geral</h1>
            <a href="" class="txf-5">Imprensas Oficiais</a>
            <a href="" class="txf-5">Links Úteis</a>
            <a href="" class="txf-5">Galeria</a>
            <a href="" class="txf-5">Vídeos</a>
        </div>

        <img src="./img/logo-governo.png" alt="" class="government-logo">
    </footer>

    <script src="./js/mobile-menu.js"></script>
</body>

</html>